#paper{
    margin-top: 0px;
    display: 'flex';
    text-align: 'center',
  }

#avatar{
    background-color: red;
  }
  
#form{
    width: '100%';
    margin-top: 15px;
  }

#submit{
    margin: 3px;
}

#formControl{
    margin: 3px;
    min-width: "55%";
  }
